# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

In [ ]:
import mysql.connector
import pandas as pd
from IPython.display import display,HTML

#reemplazar 'root' por el password del usuario administrador de MySQL
db_connection = mysql.connector.connect(user="root",host="localhost",password="19941")
cursor = db_connection.cursor()
cursor.execute("use Valdivia")


1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

In [ ]:
df = pd.read_sql('create table persona(pk_rut INT NOT NULL auto_increment, Nombre VARCHAR(50), edad int, primary key(pk_rut));', con = db_connection)

In [ ]:
df = pd.read_sql('create table LUGAR_DE_INTERES(pk_lugar INT NOT NULL auto_increment, descripcion VARCHAR(100), categoria VARCHAR(50), latitud float , logitud float, primary key(pk_lugar));', con = db_connection)

In [ ]:
df = pd.read_sql('create table desplazarsse(pk_desplazar INT NOT NULL auto_increment, pk_rut INT NOT NULL, fecha DATETIME, latitud float, longitud float, primary key(pk_desplazar), foreign key fk_rut(pk_rut) references persona(pk_rut));', con = db_connection)

2) Insertar al menos 5 filas en cada tabla

In [ ]:
cursor.execute('insert into persona(Nombre,edad) values ("Benjamin Lazo", 15), ("Francisco Antilef", 20), ("Eduardo Vera", 17), ("Mathias Oyarzun", 29), ("Rodrigo Stevenson", 55)')

In [29]:
cursor.execute('insert into LUGAR_DE_INTERES(descripcion,categoria, latitud, logitud) values ("Universidad Austral", "Educación", -17.02, -12.11), ("Mercado fluvial", "Comercio", -16.05, -11.14), ("Jardín Botanico", "Turismo", -17.25, -11.75), ("Feria costumbrista de Niebla", "Turismo", -22.25, -855.01), ("Costanera", "Turismo", -20.02, -10.11)')

In [34]:
cursor.execute('insert into desplazarsse(pk_rut, fecha, latitud, longitud) values (1,"2015-12-20 10:01:00", -17.02, -12.11), (2,"2018-11-21 11:11:02", 20.2,-14.2), (3,"2018-03-25 12:15:26", -16.05, -11.14), (4,"2018-01-01 00:01:01", -20.02, -10.11), (5,"2018-10-01 13:45:00", 55,-17.22)')

In [36]:
df = pd.read_sql('select  * from desplazarsse;', con = db_connection)
display(df);

   pk_desplazar  pk_rut               fecha  latitud  longitud
0             1       1 2015-12-20 10:01:00   -17.02    -12.11
1             2       2 2018-11-21 11:11:02    20.20    -14.20
2             3       3 2018-03-25 12:15:26   -16.05    -11.14
3             4       4 2018-01-01 00:01:01   -20.02    -10.11
4             5       5 2018-10-01 13:45:00    55.00    -17.22

¿A qué tipo de aplicación podría servir esta base de datos?

3) ¿A qué tipo de aplicación podría servir esta base de datos?

Esta base de datos podría servir para una aplicación que permita llevarnos a distintos lugares en Valdivia, mostrar su ubicación, buscar algun lugar de interes y mostrar como llegar. Alguna aplicación para turistas o para conocer la ciudad.

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

1) ¿Por qué hacer copias de seguridad de su base de datos?

Es importante ya que puede ocurrir cualquier falla de error técnico o humano, donde se pueda eliminar información de la base de datos y perder algunos o varios datos. Así tendremos una copia de la base de datos y recuperar toda los datos se han perdido.

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.